@{
    ViewData["Title"] = "Connexion administrateur - Mercadona";
}

<h2>Connexion</h2>

<form id="loginForm" method="post">
    <input type="password" id="password" name="password" placeholder="Mot de passe" required />
    <button type="submit">Se connecter</button>
</form>

<span id="errorMessage" class="information"></span>

<span class="information">*Le mot de passe est : "<strong>JB6ZSWU2S3</strong>" (mot de passe sécurisé et inaccessible que seul les admins du supermarché connaîtront et qui est gérable depuis le tableau de bord Azure)*</span>

<script>
    $(document).ready(function () {
        $("#loginForm").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("Login", "Account")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (data) {
                    if (data.success) {
                        window.location.href = '@Url.Action("Dashboard", "Products")';
                    } else {
                        $('#errorMessage').text(data.message);
                    }
                }
            });
        });
    });
</script>