@{
    ViewData["Title"] = "Connexion administrateur - Mercadona";
}

<h2>Connexion</h2>

<form asp-action="Login" asp-controller="Account" method="post">
    <input type="password" id="password" name="password" placeholder="Mot de passe" required />
    <button type="submit">Se connecter</button>
</form>

<span class="information">*Le mot de passe est : "<strong>JB6ZSWU2S3</strong>" (mot de passe sécurisé et inaccessible que seul les admins du supermarché connaîtront et qui est gérable depuis le tableau de bord Azure)*</span>
