@{
    ViewData["Title"] = "Mercadona";
}

<section class="header-section">
    <div class="header-right">
        <h1 class="header-title">Commencez votre shopping chez Mercadona</h1>
        <p class="header-p">Ici, découvrez toutes les occasions à ne pas manquer sur des centaines de produits en promotion chaque jours ! Découvrez-les tous dans l'onglet "Catalogue".</p>
    </div>
</section>